---
import ResponsiveAnimatedIcon from "./ResponsiveAnimatedIcon.astro";
---

<div class="div9 light-gray-background flex justify-start items-end">
    <div class="flex p-0 lg:pb-2">
        <p class="raleway-regular white-text text-[14px] lg:text-[30px] text-left mt-[11px] lg:mt-0 mx-[10px] lg:mx-[29px]">Download CV</p>
        <div class="flex justify-end items-end lg:items-baseline md:w-[40px] lg:w-[50px] ml-auto">
            <ResponsiveAnimatedIcon
                src="https://animatedicons.co/get-icon?name=download&style=minimalistic&token=c041d11b-9e1b-4f4b-b4fe-782ea93cace6" 
            />
        </div>
    </div>
</div>