---
import Modal from "./Modal.astro";
import ResponsiveAnimatedIcon from "./ResponsiveAnimatedIcon.astro";
---

<div class="div5 light-gray-background flex overflow-hidden relative">
    <p class="shrikhand-regular white-text z-1 text-[18px] lg:text-[35px] text-left mt-[30px] lg:mt-[104px] ms-[10px] lg:ms-[29px]">Education</p>
    <img 
        class="absolute w-[60%] md:w-[30%] h-auto object-contain bottom-[-16px] lg:bottom-[-13px] right-[34px] lg:right-[87px]"
        src="/assets/ring.avif" 
        alt="3d ring" />
    <div class="flex justify-end items-baseline w-[33px] md:w-[40px] lg:w-[50px] ml-auto" id="openModalEducation"
        aria-label="Open modal Education">
        <ResponsiveAnimatedIcon
            src="https://animatedicons.co/get-icon?name=Fullscreen&style=minimalistic&token=defd54f5-3357-43dd-ad9e-32e227c0ac60" 
        />
    </div>
</div>

<!-- Modal overlay -->
<Modal id="modalEducation" triggerId="#openModalEducation" bgColor="bg-black">
    <p>This is the modal content. EDUCATION</p>
</Modal>