<div class="div5 light-gray-background flex">
    <p class="shrikhand-regular white-text text-[35px] text-left mt-[104px] ms-[29px]">Education</p>
    <img class="relative left-[118px] bottom-[30px] w-[32%] h-fit" src="/assets/ring.avif" alt="3d ring" />
    <div class="ps-[182px]">
        <animated-icons
            src="https://animatedicons.co/get-icon?name=Fullscreen&style=minimalistic&token=defd54f5-3357-43dd-ad9e-32e227c0ac60"
            trigger="loop-on-hover"
            data-variationThumbColour="#000000"
            data-variationName="Dark"
            data-variationNumber="4"
            data-numberOfGroups="2"
            data-strokeWidth="1.5"
            data-backgroundIsGroup="true"
            data-defaultColours='{"group-1":"#E6E9EC", "group-2":"#000000", "background":"#000000"}'
            height="50"
            width="50"
            class="cursor-pointer"
        ></animated-icons>
    </div>
</div>