---
import Modal from "./Modal.astro";
import ResponsiveAnimatedIcon from "./ResponsiveAnimatedIcon.astro";
---

<div class="div2 yellow-background overflow-hidden relative">
    <div
        class="flex justify-end w-[33px] md:w-[40px] lg:w-[50px] ml-auto cursor-pointer"
        id="openModalExperience"
        aria-label="Open modal Experience"
    >
        <ResponsiveAnimatedIcon
        src="https://animatedicons.co/get-icon?name=Fullscreen&style=minimalistic&token=defd54f5-3357-43dd-ad9e-32e227c0ac60"
        />
    </div>
    <p
        class="raleway-semiBold underline text-[20px] lg:text-[35px] text-left mt-[3px] lg:mt-[55px] ms-[10px] lg:ms-[29px]"
    >
        Experience
    </p>
    <img
        class="absolute w-[45%] md:w-[60%] h-auto object-contain"
        style="bottom: 10px; right: 10px;"
        src="/assets/piramid.avif"
        alt="3d piramid"
    />
</div>

<!-- Modal overlay -->
<Modal
    id="modalExperience"
    triggerId="#openModalExperience"
    bgColor="bg-[#1F1F1F]"
>
    <p class="raleway-semiBold underline white-text text-[50px]">Experience</p>
    <section class="flex flex-col gap-3.5 mt-5">
        <div class="border-[#55575C] border-4 rounded-xl py-10 px-20">
        <p class="yellow-text raleway-semiBold text-2xl">Web Developer</p>
        <p class="white-text raleway-light text-[12px] mb-2">
            MAD Marketing Agency | Bogot치, Colombia
        </p>
        <ul
            class="white-text raleway-regular text-[16px] list-disc pl-5 flex flex-col gap-2"
        >
            <li>
            Developed responsive and user-friendly websites using HTML, CSS,
            JavaScript, MEAN and MERN stack, integrating authentication tools and
            external APIs.
            </li>
            <li>
            Collaborated with UX/UI designers to create visually appealing and
            highly functional websites, utilizing Cloudinary for media storage.
            </li>
            <li>
            Worked as DevOps, deploying web pages, managing servers, and ensuring
            scalability and performance.
            </li>
        </ul>
        </div>
        <div class="white-background rounded-xl py-10 px-20">
        <p class="yellow-text raleway-semiBold"></p>
        <mark
            class="raleway-semiBold text-2xl yellow-background black-text rounded-sm pr-1 pl-1 py-0"
            >Full-Stack Developer</mark
        >
        <p class="light-gray-text raleway-light text-[12px] mb-2">
            Bogot치 Institute of Technology (BIT) | Bogot치, Colombia
        </p>
        <ul
            class="gray-text raleway-regular text-[16px] list-disc pl-5 flex flex-col gap-2"
        >
            <li>
            Developed responsive and user-friendly websites using HTML, CSS,
            JavaScript, and the MEAN stack.
            </li>
            <li>
            Translated design concepts from Figma into engaging user interfaces,
            ensuring an excellent user experience.
            </li>
            <li>
            Integrated Docker and AWS to deploy the social network, ensuring high
            availability and scalability for users accessing the platform
            </li>
        </ul>
        </div>
        <div class="yellow-background rounded-xl py-10 px-20">
        <p class="gray-text raleway-semiBold text-2xl">Front-end Developer / UX-UI Designer</p>
        <p class="gray-text raleway-light text-[12px] mb-2">
            MAD Marketing Agency | Bogot치, Colombia
        </p>
        <ul class="black-text raleway-regular text-[16px] list-disc pl-5 flex flex-col gap-2">
            <li>
            Developed responsive and user-friendly websites using HTML, CSS,
            JavaScript, MEAN and MERN stack, integrating authentication tools and
            external APIs.
            </li>
            <li>
            Collaborated with UX/UI designers to create visually appealing and
            highly functional websites, utilizing Cloudinary for media storage.
            </li>
            <li>
            Worked as DevOps, deploying web pages, managing servers, and ensuring
            scalability and performance.
            </li>
        </ul>
        </div>
    </section>
</Modal>
