---
import ResponsiveAnimatedIcon from "./ResponsiveAnimatedIcon.astro";
---

<div class="div2 yellow-background overflow-hidden relative">
    <div class="flex justify-end w-[33px] md:w-[40px] lg:w-[50px] ml-auto">
        <ResponsiveAnimatedIcon
            src="https://animatedicons.co/get-icon?name=Fullscreen&style=minimalistic&token=defd54f5-3357-43dd-ad9e-32e227c0ac60" 
        />
    </div>
    <p class="raleway-semiBold underline text-[20px] lg:text-[35px] text-left mt-[3px] lg:mt-[55px] ms-[10px] lg:ms-[29px]">
        Experience
    </p>
    <img
        class="absolute w-[45%] md:w-[60%] h-auto object-contain"
        style="bottom: 10px; right: 10px;"
        src="/assets/piramid.avif"
        alt="3d piramid"
    />
</div>