---
import ResponsiveAnimatedIcon from "./ResponsiveAnimatedIcon.astro";
---

<div class="div4 gray-background flex overflow-hidden relative">
    <p class="raleway-semiBold white-text text-[20px] lg:text-[35px] text-left mt-[60px] ms-[10px] lg:ms-[29px]">Skills</p>
    <img 
        class="absolute w-[30%] md:w-[28%] h-auto object-contain bottom-[20px] lg:bottom-[30px] right-[30px] lg:right-[70px]"
        src="/assets/skills.avif" 
        alt="3d skills" />
    <div class="flex justify-end items-baseline w-[33px] md:w-[40px] lg:w-[50px] ml-auto">
        <ResponsiveAnimatedIcon
            src="https://animatedicons.co/get-icon?name=Fullscreen&style=minimalistic&token=defd54f5-3357-43dd-ad9e-32e227c0ac60" 
        />
    </div>
</div>