<div class="div4 gray-background flex overflow-hidden relative">
    <p class="raleway-semiBold white-text text-[35px] text-left mt-[60px] ms-[29px]">Skills</p>
    <img 
        class="absolute w-[20%] md:w-[28%] h-auto object-contain"
        style="bottom: 30px; right: 70px;"
        src="/assets/skills.avif" 
        alt="3d skills" />
    <div class="flex justify-end w-[100%]">
        <animated-icons
            src="https://animatedicons.co/get-icon?name=Fullscreen&style=minimalistic&token=defd54f5-3357-43dd-ad9e-32e227c0ac60"
            trigger="loop-on-hover"
            data-variationThumbColour="#000000"
            data-variationName="Dark"
            data-variationNumber="4"
            data-numberOfGroups="2"
            data-strokeWidth="1.5"
            data-backgroundIsGroup="true"
            data-defaultColours='{"group-1":"#E6E9EC", "group-2":"#000000", "background":"#000000"}'
            height="50"
            width="50"
            class="cursor-pointer"
        ></animated-icons>
    </div>
</div>