<div class="div6 gray-background">
        <p class="spotify-green-text raleway-regular mt-1.5 text-[13px] lg:text-[16px] text-center">Recently played on <i class="fa-brands fa-spotify text-[20px] ms-1.5"></i></p>
        <div class="spotify pt-4 lg:p-5">
        <img
            src="https://spotify-github-profile.kittinanx.com/api/view?uid=paulaoorjuela&cover_image=true&theme=novatorem&show_offline=false&background_color=121212&interchange=true&bar_color=53b14f&bar_color_cover=false"
            alt="Spotify Playing Now"
            class="spotify-widget"
        />
        </div>
    </div>