<article class="welcome-card white-background raleway-regular flex justify-around">
    <div class="text-[20px] lg:text-[40px] flex flex-col justify-center items-start lg:gap-2">
        <p><span class="raleway-semiBold">Hi there! <br class="hidden lg:block"/> </span>I’m Paula</p>
        <mark class="raleway-regular text-[10px] lg:text-[14px] mb-2 lg:mb-8 black-background white-text rounded-sm pr-1 pl-1 py-0" >Full-Stack Software Developer</mark>
        <p>Welcome to <br />my <span class="raleway-semiBold">portfolio!</span></p>
    </div>
    <div>
        image
    </div>
</article>