body{
  background-color: black;
}

.parent {
  width: 90%;
  text-align: center;
  height: 94vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(8, 1fr);
  gap: 8px;
  margin: 20px auto;
}

.div1, .div2, .div3, .div4, .div5, .div6, .div7, .div8, .div9, .div10 {
  border-radius: 15px;
  background-color: white;
}

.div1, .div2, .div3, .div4, .div5, .div6, .div7, .div8, .div9, .div10:hover {
}
  
.div1 {
  grid-row: span 4 / span 4;
}

.div2 {
  grid-row: span 2 / span 2;
}

.div3 {
  grid-row: span 4 / span 4;
  grid-column-start: 1;
  grid-row-start: 5;
}

.div4 {
  grid-row: span 2 / span 2;
  grid-column-start: 2;
  grid-row-start: 7;
}

.div5 {
  grid-column: span 2 / span 2;
  grid-row: span 4 / span 4;
  grid-column-start: 2;
  grid-row-start: 3;
}

.div6 {
  grid-row: span 2 / span 2;
  grid-column-start: 3;
  grid-row-start: 1;
}

.div7 {
  grid-row: span 4 / span 4;
  grid-column-start: 4;
  grid-row-start: 1;
}

.div9 {
  grid-row: span 2 / span 2;
  grid-column-start: 4;
  grid-row-start: 5;
}

.div10 {
  grid-column: span 2 / span 2;
  grid-row: span 2 / span 2;
  grid-column-start: 3;
  grid-row-start: 7;
}
      